.conteinr{
    position:fixed;
    display: flex;
    border: 1px solid #5d17ff;
    height: 78vh;
    width: 80%;
    right: 0;
}

.uslugi {
    position: fixed;
    right: 5px;
    background: #0000008e;
    width: 50%;
    padding: 2.5%;
    margin-top: 5px;
    height: 66vh;
    color: #ffffff;
    justify-content: center;
    justify-items: center;
    font-weight:normal;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #5d17ff;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 255, .2);
    /*overflow-y: scroll;*/
  }

  .left{
    display: flex;
    border: 1px solid #5d17ff;
    width: 30%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .nomer-scheta{
    display: flex;
    width: 77%;
    height: 5vh;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #5d17ff;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 255, .2);
  }

  .nomer-scheta input{
    background: #0000008e;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #ffffff;
    border-radius: 5px;
  }
  .nomer-scheta input::placeholder{
    color: rgb(186, 186, 186);
  }
  .save-nomer{
    display: flex;
    width: 35%;
    height: 5vh;
    margin-top: 0.5rem;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #5d17ff;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 255, .2);
  }

  .save-nomer input{
    width: 100%;
    border-radius: 5px;
    background: #9eff27;
    color: #1d1c1c;
    font-weight:bold ;
    font-size: 1em;
  }

  .tarif{
    display: flex;
    align-self:flex-end;
    width: 77%;
    height: 5vh;
    margin-top: 5rem;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #5d17ff;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 255, .2);
  }

  .tarif input{
    display: flex;
    background: #0000008e;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #ffffff;
    border-radius: 5px;
  }
  .tarif input::placeholder{
    color: rgb(186, 186, 186);
  }
  
  .save-tarif{
    display: flex;
    width: 35%;
    height: 5vh;
    margin-top: 0.5rem;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #5d17ff;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 255, .2);
  }

  .save-tarif input{
    width: 100%;
    border-radius: 5px;
    background: #9eff27;
    color: #1d1c1c;
    font-weight:bold ;
    font-size: 1em;
  }

  .porfzaniya{
    display: flex;
    align-self:flex-end;
    width: 77%;
    height: 5vh;
    margin-top: 5rem;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #5d17ff;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 255, .2);
  }

  .porfzaniya input{
    display: flex;
    background: #0000008e;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #ffffff;
    border-radius: 5px;
  }

  .porfzaniya input::placeholder{
    color: rgb(186, 186, 186);
  }

  .save-porfzaniya{
    display: flex;
    width: 35%;
    height: 5vh;
    margin-top: 0.5rem;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #5d17ff;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 255, .2);
  }

  .save-porfzaniya input{
    width: 100%;
    border-radius: 5px;
    background: #9eff27;
    color: #1d1c1c;
    font-weight:bold ;
    font-size: 1em;
  }