{% extends 'main/index.html' %}


{% block title %}О нас{% endblock title %}
    

{% block content %}      
      <div class="about">
        <p>Жилой дом в Безенчуке, Самарской области, по адресу ул. Северная, 4 1-этажный,
            имеет общую площадь всех помещений 793.2 квадратных метров.
            <p><span>Административный адрес:</span>
            Самарская область, Район Безенчукский, Поселок городского типа Безенчук,
            Улица Северная, Дом 4 Сокращенный адрес: обл. Самарская, р-н. Безенчукский,
            пгт. Безенчук, ул. Северная, д. 4</p>
        </p>
        <p><span>Муниципальный адрес:</span> Самарская область, Муниципальный район Безенчукский, городское поселение Безенчук, Поселок городского типа Безенчук, Улица Северная, Дом 4
            Сокращенный адрес: обл. Самарская, м.р-н. Безенчукский, г.п. Безенчук, пгт. Безенчук, ул. Северная, д. 4
        </p>
        <p><span>Регион:</span> 63 Самарская обл
            Город / Населенный пункт: Безенчукский р-н, Безенчук пгт
            Улица: Северная ул
            Дом: д. 4
        </p>
        <p> <span>ОКАТО:</span> 36204551000
            <p><span>Индекс:</span> 446250</p>
            <p><span>Реестр:</span> 366041510510000005120005000000000</p>
            <p><span>Кадастр:</span> 63:12:1402001:92</p>
            <p><span>Код ИФНС:</span> 6330</p>
        </p>
        <p> Карточка объекта ФИАС:
            <p><span>Код ФИАС:</span> 113eb3dc-40ff-4f01-98d1-08e0f0372e7d</p>
            <p><span>Код ГАР:</span>  75666290</p>
        </p>
      </div>
{% endblock  %}