{% extends 'main/base.html' %}
{% load static %}

{% block title %}Авторизация{% endblock title %}
    

{% block content %} 
    {% if user.is_authenticated %}
        <br>
    {% else %}
        <div class="regestration">
            <div class="h1">
               <h1>Логин</h1> 
            </div>
            <div class="form">
                <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-item">
                    <input type="text" class="form-control" name="username" placeholder="Имя пользователя..." required>
                </div>
                <div class="form-item">
                    <input type="password" class="form-control" name="password" placeholder="Пароль..." required>
                </div>
                <div class=btns>
                    <button type="submit" class="btn">Войти</button>
                    <button type="button" class="btn-reg"><a href="{% url 'registr' %}">Регистрация</a></button>
                </div>
            </form>
            </div>
            
        </div>
    {% endif%}
{% endblock  %}

